.history/
.idea/
website-client/node_modules
website-docker/node_modules
website-server/node_modules
website-server/run
website-docker/db
website-templete/node_modules
website-server/logs
website-app/